{% extends "layouts/_layout.njk" %}
{% import "partials/_mixins.njk" as mixins %}

{% block content %}

  {% include "partials/_catalog.njk" %}
  {% include "partials/_info.njk" %}
  {% include "partials/_contacts.njk" %}

{% endblock %}
