<section class="catalog">
  <div class="catalog__wrapper">
    <h2 class="catalog__title">У нас ви можете купити за
      <strong>супер дешевими цінами:</strong>
    </h2>
    <ul class="catalog__cards">
      <li class="catalog__card  catalog__card--active">
        <h3 class="catalog__caption">насіння від виробника</h3>
        <p class="text">кукурудзи, соняшника, сої, ріпаку та інших культур</p>
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/brands-1@dt.jpg">
          <img src="./img/brands-1@mb.jpg" alt="">
        </picture>
      </li>
      <li class="catalog__card-inner">
        <ul class="catalog__cards-inner">
          <li class="catalog__card  catalog__card--flag  catalog__card--ua">
            <h3 class="catalog__caption">насіння українських селекційних інститутів</h3>
          </li>
          <li class="catalog__card  catalog__card--flag  catalog__card--nl">
            <h3 class="catalog__caption">голландське насіння
            </h3>
            <p class="text">овочів помідорів, огірків, цибулі, гарбуза, кабачків</p>
          </li>
        </ul>
      </li>
      <li class="catalog__card  catalog__card--plants">
        <h3 class="catalog__caption">засоби захисту рослин
        </h3>
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/brands-2@dt.jpg">
          <img src="./img/brands-2@mb.jpg" alt="">
        </picture>
      </li>
      <li class="catalog__card  catalog__card--minerals">
        <h3 class="catalog__caption">мінеріальні добрива
        </h3>
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/brands-3@dt.jpg">
          <img src="./img/brands-3@mb.jpg" alt="">
        </picture>
      </li>
      <li class="catalog__card  catalog__card--micro">
        <h3 class="catalog__caption">мікродобрива
        </h3>
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/brands-4@dt.jpg">
          <img src="./img/brands-4@mb.jpg" alt="">
        </picture>
      </li>
      <li class="catalog__card  catalog__card--spare">
        <h3 class="catalog__caption">запасні частини для
          <picture>
            <source media="(min-width: 1280px)" srcset="./img/brands-6@dt.jpg">
            <img src="./img/brands-6@mb.jpg" alt="">
          </picture>
        </h3>
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/brands-5@dt.jpg">
          <img src="./img/brands-5@mb.jpg" alt="">
        </picture>
      </li>
    </ul>
  </div>
</section>
