<header class="header">
  <div class="header__wrapper">
    <div class="header__container">
      <picture class="header__logo">
        <source media="(min-width: 1280px)" srcset="./img/logo-dt@3x.png">
        <img src="./img/logo-mb@3x.png" alt="">
      </picture>

      {% import "data/data.njk" as data %}

      <ul class="header__contacts">
        {% for item in data.contacts %}
          <li class="header__contact">
            <a class="header__link" href="tel:{{ item.telephone | trim }}">{{ item.telephone }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <p class="text">ТОВ «Агро НВ», учасник групи компаній аграрного холдингу UkrLandFarming PLC - національний український дистриб’ютор насіння, засобів захисту рослин, мінеральних та спеціальних добрив, сільськогосподарської техніки та запасних частин проводить реалізацію та розпродаж частини складських залишків за зниженими валютними курсами, надаючи супер дешеву ціну для фермерів та аграрних господарств. </p>
  </div>
</header>
