<section class="info">
  <div class="info__wrapper">
    <p class="text  text--font-lg">Дистриб’юція нараховує
    </p>
    <h1 class="info__title">25 агродилерських центрів по всій Україні,
    </h1>
    <p class="text  text--font-lg">що дозволяє надавати комплексну підтримку та послуги для усіх покупців на всеукраїнському рівні.
    </p>
    <div class="info__banner">
      <p class="text">Ознайомитись з переліком реалізації складу по супер дешевим цінам можна за данною ссилкою :
      </p>
      <a class="info__link" href="./data/Sale.xls" dowload="dowload">== скачати каталог товарів ==</a>
      <p class="text">*При оптових закупівлях можлива індивідуальна знижка</p>
    </div>
    <div class="info__container">
      <p class="text">Також ми можемо надати хороші ціни на нові гібридні переліки та хімію за цінами першого дистриб'ютора за вашим індивідуальним запитом.</p>
      <p class="text">Телефонуйте, пишіть, будемо раді допомогти вашому бізнесу.</p>
    </div>
  </div>
</section>
